body {
	font-family: Poppins;
	margin: 0px;
}
h3 {
       margin-top: 0px;
       margin-bottom: 0px;
}
.title {
	color: #e44009;
	padding-top: 20px;
}
#subtitle {
       margin: auto;
       border: 2px solid #000000;
       padding: 10px;
       border-radius: 15px;
       width:250px;
       background: #e44009;
}
#subtitle2 {
       margin: auto;
       border: 2px solid #000000;
       padding: 10px;
       border-radius: 15px;
       width:750px;
       background: #ffffff;
}
#subtitle3 {
       margin: auto;
       border: 2px solid #000000;
       padding: 10px;
       border-radius: 15px;
       width: 300px;
       background: #e1e1e1;
}
#box {
       margin: auto;
       width: 900px;
}
/* Navigation */
.nav {
	background-color: #333333;
        list-style: none;
        margin: 0px;
        text-align: center;
	height: 50px;
}
.nav li {
        display: inline; 
}  
.nav a {
        color: #e1e1e1;
        display: inline-block;
        padding: 10px;
        text-decoration: none;
}
.nav a:hover {
	color: #333333;
        background-color: #e44009;
        text-decoration: none;
}
.nav a.active {
	background-color: #e44009;
        color: #333333;
}
/* Styles des colonnes */
.col {
	list-style: none;
	margin: 0;
	text-align: left; 
}
.col li {
	display: inline; 
}
.col a {
	color: #333333;
	display: inline-block; 
	text-decoration: none;
	margin: 0px;
	padding: 20px 20px 0px 0px;
	width: 250px;
	font-size: 12px;
	transition: transform 0.3s ease, filter 0.3 ease;
}
.col a:hover {
	color: #e44009;
	text-decoration: none;
	transform: scale(1.07);
}
.col a.active {
        background-color: #e44009;
        color: #333333;
}
.column {
	float: left;
  	width: 25%;
}
.row:after {
	content: "";
	display: table;
	clear: both;
}
