body {
	font-family: Poppins;
	margin: 0px;
}
h3 {
       margin-top: 0px;
       margin-bottom: 0px;
}
.title {
	color: #e44009;
	padding-top: 20px;
}
#subtitle {
       margin: auto;
       border: 2px solid #000000;
       padding: 10px;
       border-radius: 15px;
       width:250px;
       background: #EA2839;
}
#box {
       margin: auto;
       width: 750px;
}
     
/* Navigation */
.nav {
	background-color: #333333;
        list-style: none;
        margin: 0px;
        text-align: center;
	height: 50px;
}
.nav li {
        display: inline; 
}  
.nav a {
        color: #e1e1e1;
        display: inline-block;
        padding: 10px;
        text-decoration: none;
}
.nav a:hover {
        color: #333333;
        background-color: #e44009;
        text-decoration: none;
}
.nav a.active {
	background-color: #e44009;
        color: #333333;
}
